/*   FIRST SECTION    */


.main-one {
  margin: 25px;
}

.main-one-container {
  display: grid;
}

.main-one-container h2 {
  padding: 5px 15px;
}

/*    SECOND SECTION -- RASHOMON  */

.main-two {
  background-color: #0B1942;
  display: grid;
  padding-bottom: 20px;
}

.main-two h2 {
  font-size: 2.5em;
  margin-left: 25px;
  font-weight: 400;
  width: 90vw;
}

.rashomon, .movie-item {
  background-color: #E2E2E2;
  padding: 15px;
}

.rashomon {
  margin-left: 15px;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 87vw;
}
.rashoman-image {
  width: 30vw;
  height: 50vw;
}

.movie-image {
  width: 35vw;
  height: 50vw;
}

.rashomon-info {
  display: subgrid;
  grid-template-rows: 15% 15% 70%;
  margin-left: -10px;
  width: 40vw;
  height: 50vw;
}

.rashomon-title, .rashomon-discussion {
  margin-bottom: 10px;
}

.rashomon-title {
  font-size: 1.8em;
}

.rashomon-discussion {
  border-top: 1px solid #000000;
  margin-bottom: 0;
}

.rashomon-discussion ul {
  margin-left: -15px;
  margin-top: -12px;
}

.rashomon-discussion li {
  list-style: circle;
  line-height: 150%;
}

/*     MOVIE BLOCK SECTION    */

.movie-block {
  margin: 15px;
  display: grid;
  grid-template-columns: 52% 52%;
  line-height: 150%;
  align-content: center;
  width: 90vw;
}

.movie-block p {
  margin: 0;
}



/*     TABLET      */

@media screen and (min-width: 545px) {

.main-one-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}

.rashomon {
  display: flex;
}

.rashoman-image {
  width: 40vw;
  height: 50vw;
}

.movie-item {
  width: 20vw;
}

.movie-image {
  width: 20vw;
  height: 30vw;
}

.rashomon-info {
  width: 100%;
  margin-left: 20px;
  grid-template-rows: 12% 12% 76%;
}

.movie-block {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  line-height: 150%;
  width: 90vw;
}
}


/*      DESKTOP     */

@media screen and (min-width: 769px) {
  .main-one-container h2 {
    padding: 10px 15px;
  }

  .main-two {
    width: 100vw;
  }

  .main-one {
    line-height: 120%;
  }

  .rashoman-image {
  width: 17.5vw;
  height: 25vw;
  }

  .rashomon-info {
    display: grid;
    grid-template-rows: 15% 15% 70%;
    margin: 15px;
    height: 30vw;
  }

  .movie-image {
    width: 17.5vw;
    height: 25vw;
  }

  .rashomon {
    display: flex;
    margin: 15px;
    width: 40vw;
    height: 30vw;
    font-size: 1em;
  }

  .movie-block {
    margin: 15px;
    display: grid;
    justify-content: center;
    grid-template-columns: 43% 43%;
    line-height: 120%;
    font-size: 1.2em;
    width: 50vw;
  }

  .main-two {
    grid-template-columns: first 50% second 50% end;
    line-height: 100%;
  }

  .main-two h2 {
    font-size: 2em;
    font-weight: 400;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 20vw;
  }

}
