*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

main {
  width: 100vw;
  font-family: "PT sans"

}

/*     MAIN ONE     */

h1 {
  font-size: 22pt;
  font-weight: 300;
  margin-left: 1%;
}

.main-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  line-height: 2;
}

.main-sub-head {
  background-color: #0B1942;
  color: #FFFFFF;
  padding-left: 10px;
  font-size: 16pt;
  font-weight: 300;
}

.flex-item {
  margin-left: 10px;
  margin-right: 10px;
}

.main-one p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10pt;
}


/*    MAIN TWO     */

.main-two {
  background-color: #0B1942;
}

h3 {
  color: #FFFFFF;
}

/*    TABLET    */

@media screen and (min-width: 545px ){
  .main-one {
    flex-direction: row;
    width: 100vw;
  }

  .flex-item {
    width: 31%;
    margin: 0;
  }

  .main-one p {
    font-size: 12pt;
  }

}

/*    DESKTOP    */


@media screen and (min-width: 769px ){

}
