.join-main h1 {
  margin: 30px 20px;
}


/*   MAIN JOIN CREDENTIALS   */


fieldset {
  border: none;
}

.profile-template {
  background-image: url(../images/profile-placeholder.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 30px;

}

.credentials {
  margin-left: 15px;
}

.credentials input {
  width: 95%;
  font-size: 1.5em;
}


/*   CHECKBOX MAIN   */


.genres {
  margin-top: 20px;
  line-height: 250%;
}

.additional-input textarea {
  width: 98%;
}

#submit-button {
  border: none;
  margin: 20px 11px 50px 11px;
  padding: 20px 15px;
  background-color: #F5005B;
  color: #FFFFFF;
}


/*    TABLET     */


@media screen and (min-width: 545px) {
  .form-profile {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .form-password {
    padding-top: 50px;
  }

  .genres-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .profile-template {
    height: 250px;
    width: 250px;
    margin: 20px 0 0 0;
  }
}


/*    DESKTOP    */


@media screen and (min-width: 769px) {
  .form-profile {
    grid-template-columns: 35% 65%;
  }

  .credentials input {
    width: 95%;
    font-size: 1.5em;
  }

  .credentials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .form-name-email {
    width: 50%;
  }

  .form-password {
    padding-top: 0;
    width: 50%;
  }

  .genres-container {
    display: grid;
    grid-template-columns: 32% 32% 32%;
  }

  .additional-input textarea {
    width: 62%;
  }
}
