@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css');

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');


/*    MAIN STYLES ACROSS ALL PAGES   */


body {
  font-family: 'PT Sans';
  color: #0B1942;
  line-height: 200%;
  font-size: 0.8em;
}

a {
  color: #00B7D3;
}

h1 {
  font-weight: 400;
  font-size: 2em;
  margin: 0;
}

h2 {
  background-color: #0B1942;
  color: #FFFFFF;
  font-weight: 400;
}



/*     NAV     */


header {
  display: grid;
  grid-template-columns: 30% 70%;
}

.logo {
  background-color: #F5005B;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

#main-logo {
  width: 98%;
  height: 98%;
}

nav, nav a {
  background-color: #7DDFE8;
  color: #FFFFFF;
  text-decoration: none;
}

nav {
  height: 100%;
  display: grid;
}

nav a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-nav {
  background-color: #00A5BF;
}

.calendar-nav {
  background-color: #00B7D3;
}

.join-nav {
  background-color: #00D5E7;
}


/*     FOOTER    */


footer {
  display: grid;
  grid-row: 60% 40%;
  height: 190px;
  background-color: #7DDFE8;
  text-align: center;
}

.foot-nav {
  height: 190px;
}

.copyright {
  color: #FFFFFF;
  margin-top: 20px;
}


/*    TABLET    */


@media screen and (min-width: 545px) {

  body {
    font-size: 1em;
  }

  header {
    display: flex;
    justify-content: flex-start;
  }

  .logo {
    height: 120px;
    width: 140px;
    padding: 0;
  }

  #main-logo {
    margin: auto;
    width: 82px;
    height: 90px;
  }

  nav {
    height: 120px;
    width: 100%;
    display: flex;
  }

  .home-nav, .calendar-nav, .join-nav {
    width: 100px;
    height: 120px;
  }

  footer {
    height: 120px;
  }

  .foot-nav {
    height: 120px;
    display: flex;
    flex-direction: row;
  }

  .copyright-nav {
    text-align: right;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 0;
    align-self: center;
  }

}
