*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*      NAV      */

nav {
  width: 100%;
  height: 100px;
  background-color: #7DDFE8;
  /*MAY NOT NEED WIDTH ONCE YOU YOU MAKE IT RESPONSIVE*/
}

.nav-row {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.nav-item {
  padding: 5px;
  text-decoration: none;
  text-align: center;
  width: 30%;
}

.nav-row a {
  text-decoration: none;
  color: #FFFFFF;
}

.nav-home {
  background-color: #00A5BF;
}

.nav-calendar {
  background-color: #00B7D3;
}

.nav-join {
  background-color: #00D5E7;
}
.logo {
  background-image: url("/Users/MattMcDonald/Desktop/tiy-durham/Week 2/week-two-project/images/filmclub.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #F5005B;
}


/*     MAIN     */
